{% extends "layout.html" %}
{% block content %}

<html>
<head>
	<title>Bienvenidos a la Tienda Online</title>
</head>

<body>
    <section class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-md-3 row-cols-xk-4 justify-content-center">
        {% for producto in lstProductos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card img-top" src="{{ directorio_img}} {{producto.imagen}}"/>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                            S/. {{producto.precio}}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver mas</div>
                    </div>
                </div>
            </div>
             {% endfor %}
        </div>
   
    </section>

</body>

</html>
{% endblock %}